<div id="aboutme">
    <h1>About Me</h1>
    <img src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t1.0-9/41548515_777119829346348_3518896388131782656_n.jpg?_nc_cat=0&oh=c16649586324b53875a42bd52d05c4aa&oe=5C267C4E"
        alt="Avatar" style="width:200px">
</div>


<h3 id="title" style="text-align:center;">Full Stack Web Developer</h3>
<div id="chart" class="row">
    <div class="column" id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Javasript</li>
            <li>HTML/CSS</li>
            <li>Node</li>
            <li>MongoDB</li>
            <li>MySQL</li>
        </ul>

    </div>

</div>