<div id="socialbox" class="row">
    <div id="s" class="column">
        <img src="styles/githublogo.png" alt="Avatar" style="width:200px">
        <h3 class="st">Github Repo</h3>
    </div>
    <div id="s" class="column">
        <img src="styles/FBlogo.png" alt="Avatar" style="width:200px">
        <h3 class="st">My Facebook</h3>
    </div>
    <div id="s" class="column">
        <img src="styles/linkedinlogo.png" alt="Avatar" style="width:200px">
        <h3 class="st">Linked IN</h3>
    </div>
</div>